<!doctype html>
<html lang="en-US">
	<head>

		<title>{{ .Title }} | MEKAcast</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">

		<!-- SEO -->
		{{ if .Title }}
			<meta property="og:title" content="{{ .Title }} | MEKAcast">
		{{ else }}
			<meta property="og:title" content="MEKAcast | Competitive Overwatch News and Podcast">
		{{ end }}

		{{ if .Description }}
			<meta name="description" content="{{ .Description }}">
			<meta property="og:description" content="{{ .Description }}">
			<meta property="og:type" content="article">
		{{ else }}
			<meta name="description" content="MEKAcast is a new podcast and blog dedicated to the growing world of competitive Overwatch, Blizzard's team-based shooter. Tune in for our discussions about the Overwatch League, the ever-evolving metagame, the latest patch notes and their expected impact on the game, and the current state of our favorite FPS.">
			<meta property="og:description" content="MEKAcast is a new podcast and blog dedicated to the growing world of competitive Overwatch, Blizzard's team-based shooter. Tune in for our discussions about the Overwatch League, the ever-evolving metagame, the latest patch notes and their expected impact on the game, and the current state of our favorite FPS.">
			<meta property="og:type" content="website">
		{{ end }}

		{{ if .Params.image }}
			<meta property="og:image" content="{{ .Params.image }}">
		{{ else }}
			<meta property="og:image" content="/og-image.png">
		{{ end }}

		{{ if .Keywords }}
			<meta name="keywords" content={{ delimit .Keywords " " }}>
		{{ else }}
  		<meta name="keywords" content="Overwatch,Overwatch League,Podcast,Blog,eSports,MEKAcast">
		{{ end }}

		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fff">
		<meta name="theme-color" content="#fff">

		<!-- Open Graph -->
		<meta property="og:url" content="{{ .Permalink }}">


		<!-- Global site tag (gtag.js) - Google Analytics -->
		<meta name="google-site-verification" content="X0h3zUHa93HjWPYdJxYhHzzEjK1wmmjtWtpP-uaHZvw" />
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108400845-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-108400845-1');
		</script>

		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>

	<body class="sans-serif">
