{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

{{ partial "text-and-image" .Params.intro }}

{{ partial "table" .Params.links }}

<div class="mw6 center ph3 pv4">
  <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/370196327&amp;color=%238992b9&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
</div>

{{ partial "text-and-image-reverse" .Params.pixelitis }}

{{ partial "footer" . }}
