{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="Overcast logo" class="db w4 center pv4">

		<p>Got a tip for us? Want us to cover a topic on the next show? We'd love to hear from you!</p> 
		
		<p>Send us your feedback, favorite competitive Overwatch stories, and hopes and dreams about the future of the Overwatch League.</p>

		<p>You can also use the form below for inquiries about getting on the show or scheduling interviews. Don’t be shy, drop us a line!</p>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ partial "footer" . }}
