{{ $.Scratch.Set "imageUrl" "/img/home/jumbotron.jpg" }}

{{ partial "head" . }}
{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" ($.Scratch.Get "imageUrl") "title" "MEKAcast" "subtitle" "A competitive Overwatch podcast and blog") }}

{{ partial "short-text" (dict "heading" "Welcome, Heroes!" "text" "MEKAcast is a new podcast and blog dedicated to the growing world of competitive Overwatch, Blizzard's team-based shooter. Tune in for our discussions about the Overwatch League, the ever-evolving metagame, the latest patch notes and their expected impact on the game, and the current state of our favorite FPS. Or read new weekly articles right here on the blog and join in on the conversation. After all, the world could always use more heroes!")}}

{{ partial "blog" . }}

{{ partial "footer" . }}
